.taskList {
  list-style: none;
  padding: 0;
  margin: 35px 0;
}

.taskList__item{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    padding: 10px;
    margin: 0 20px;
    border-bottom: 2px solid #eee;
}

.taskList__button {
    width: 35px;
    height: 35px;
    background-color: green;
    border-style: none;
}

.taskList__button--remove {
    background-color: rgb(214, 12, 12);
    color: white;
}

.taskList__button--remove:hover {
    background-color: rgb(175, 25, 25);
}

.taskList__button--remove:active {
    background-color: rgb(214, 12, 12);
}

.taskList__button--done {
    color: #eee;
}

.taskList__button--done:hover {
    background-color: rgb(5, 94, 5);
}

.taskList__button--done:active {
    background-color: green;
}

.taskList__text {
    display: flex;
    align-items: center;
}

.task__content--done {
    text-decoration: line-through;
}
