html {
    box-sizing: border-box;
}

*, 
::after, 
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ccc;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 50px auto;
}