.tasks {
    display: flex;
    flex-wrap: wrap;
}

.tasks__buttons {
    border: none;
    background-color: transparent;
    margin: 0 0 0 15px;
    color: #008080;
    transition: color 1s;
}

.tasks__buttons:hover {
    color: #03d3d3;
}

.tasks__buttons:disabled {
    color: #ccc;
}

.tasks__buttons--hide {
    display: none;
}