.tasks__buttons {
border: none;
display: flex;
align-items: center;
background-color: white;
color: hsl(180, 100%, 25%);
transition: 1s;
}

.tasks__buttons:hover {
color: hsl(180, 100%, 35%);
}

.tasks__buttons--hide {
    display: none;
}